# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/PlanDutyDaily/.vs/PlanDutyDaily/v15
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d/PLANDUTYDAILY-5c68a86a.ipch
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d/PLANDUTYDAILY-67fa9448.ipch
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d/PLANDUTYDAILY-74dd918e.ipch
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d/PLANDUTYDAILY-81143530.ipch
/PlanDutyDaily/.vs/PlanDutyDaily/v15
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d/PLANDUTYDAILY-5c68a86a.ipch
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d/PLANDUTYDAILY-67fa9448.ipch
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d/PLANDUTYDAILY-74dd918e.ipch
/PlanDutyDaily/.vs/PlanDutyDaily/v15/ipch/PLANDUTYDAILY-5eee9e8d/PLANDUTYDAILY-81143530.ipch
/PlanDutyDaily/.vs/PlanDutyDaily/v15/Browse.VC.opendb
/PlanDutyDaily/.vs/PlanDutyDaily/v15/Browse.VC.opendb
